<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Quick Bites</title>
    </head>
    <body>
        <header>
            <div id="navbar">
                <p>Quick Bites</p>
                <a href="/">Home</a>
                <a href="/login">Login</a>
                <a href="/signup">Signup</a>

                <!-- Add Search Bar Here -->
                <form id="searchForm" action="/search" method="POST">
                    <label>Search
                        <input id="searchTerm" name="searchTerm" type="text" placeholder="Search here...">
                    </label>
                    <button type="submit">Search</button>
                </form>
            </div>
        </header>
        <main>{{{body}}}</main>
        <footer>
            <p>Farid Jafri</p>
            <p>Ryan Gray</p>
            <p>Leo Schaffner</p>
            <p>Ziyou Shang</p>
        </footer>
    </body>
</html>