<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Quick Bites</title>
    </head>
    <body>
        <header>
            <div id="navbar">
                <a href="/">Home</a>
                <a href="/login">Login</a>
                <a href="/signup">Signup</a>

                <!-- Add Search Bar Here -->
            </div>
        </header>
        <main>{{{body}}}</main>
        <footer>
            <p>Farid Jafri</p>
            <p>Ryan Gray</p>
            <p>Leo Schaffner</p>
            <p>Ziyou Shang</p>
        </footer>
    </body>
</html>