<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Quick Bites</title>
    </head>
    <body>
        <header>
            <menu id="menu">
                <menuitem>
            </menu>
        </header>
        <footer>

        </footer>
    </body>
</html>