<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Quick Bites</title>
    </head>
    <body>
        <header>
            <menu id="menu">
                <!-- Add links for signup & login, search bar -->
            </menu>
        </header>
        <main>{{{body}}}</main>
        <footer>
            <!-- Don't know if we need this -->
        </footer>
    </body>
</html>