<div id="requestR">
    <h1>Request Restaurant</h1>
    <form id="requestForm" method="POST" action="/requestR">
        <label>Restaurant Name
            <input id="restaurantName" name="restaurantName" type="text" placeholder="Restaurant Name">
        </label>

        <label>Owner (optional)
            <input id="owner" name="owner" type="text" placeholder="Owner">
        </label>

        <label>Categories
            <input type='checkbox' id='fastfood' name='fastfood' value='Fast Food'>
            <label for='fastfood'>Fast Food</label><br>
            <input type='checkbox' id='ethinic' name='ethinic' value='Ethnic'>
            <label for='ethinic'>Ethnic</label><br>
            <input type='checkbox' id='fastcasual' name='fastcasual' value='Fast Casual'>
            <label for='fastcasual'>Fast Casual</label><br>
            <input type='checkbox' id='casualdining' name='casualdining' value='Casual Dining'>
            <label for='casualdining'>Casual Dining</label><br>
            <input type='checkbox' id='premiumcasual' name='premiumcasual' value='Premium Casual'>
            <label for='premiumcasual'>Premium Casual</label><br>
            <input type='checkbox' id='familystyle' name='familystyle' value='Family Style'>
            <label for='familystyle'>Family Style</label><br>
            <input type='checkbox' id='finedining' name='finedining' value='Fine Dining'>
            <label for='finedining'>Fine Dining</label><br>
        </label>

        <label>Location
            <input id="location" name="location" type="text" placeholder="Location">
        </label>

        <label>Contact Information
            <input id="contact" name="contact" type="text" placeholder="Contact">
        </label>

        <label>Reason for Recommendation (optional)
            <input id="reason" name="reason" type="text" placeholder="Reason">
        </label>

        <button type="submit">Create Request</button>
    </form>
</div>
