<div id="signup">
    <h1>Signup</h1>
    <form id="signupForm" method="POST" action="/users">
        <label>Username
            <input id="username" type="text" placeholder="Username">
        </label>

        <label>First Name
            <input id="firstName" type="text" placeholder="First Name">
        </label>

        <label>Last Name
            <input id="lastName" type="text" placeholder="Last Name">
        </label>

        <label>Email
            <input id="email" type="text" placeholder="Email">
        </label>

        <label>Password
            <input id="password" type="text" placeholder="Password">
        </label>

        <label>Bio
            <input id="bio" type="text" placeholder="Bio">
        </label>
        
        <button type="submit">Create Account</button>
    </form>
</div>